<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order!</h1>
    <p>
      You have successfully completed your order
    </p>
    <% @order.line_items.each do |item| %>
     <h4> <%= item.quantity %>  <%= item.product.name %> - <%= item.total_price_cents %></h4>
    <% end %>
    <p>
      TOTAL: <%= @order.total_cents %>
    </p>
    <p>
      To continue shopping, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>